.chess-board {
  display: grid;
  grid-template-columns: repeat(6,120px);
  grid-template-rows: repeat(6,120px);
}

.chess-board--item {
  border: 2px solid black;
}

.chess-board--item__black {
  background-color: black;
  border: 1px solid white;
}
