* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 25px 50px;
}

.exercise {
  display: flex;
  flex-direction: column;
}

.exercise--title {
  margin-bottom: 50px;
}

.exercise--seccion {
  margin-top: 40px;
}

.pieces {
  /* background-color: white; */
  /* clip-path: circle(39% at 45% 49%); */
  /* position: relative; */
  /* bottom:  150px; */
  width: 120px;
}
